/* #region COMMON*/
:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* #endregion COMMON*/

/* #region PLAYLIST COVERS */
.playlist_1{
    background-image: url(../img/metal_lifting.jpg);
}
.playlist_2{
    background-image: url(../img/stranger.jpeg);
}
.playlist_3{
    background-image: url(../img/aquietplace.jpeg);
}
.playlist_4{
    background-image: url(../img/split.jpeg);
}
.playlist_5{
    background-image: url(../img/cure.jpeg);
}
.playlist_6{
    background-image: url(../img/sinister.jpeg);
}
.playlist_7{
    background-image: url(../img/radar.jpeg);
}
.playlist_8{
    background-image: url(../img/mixdaily.jpeg);
}
.playlist_9{
    background-image: url(../img/youg.jpeg);
}
.playlist_10{
    background-image: url(../img/einaudi.jpeg);
}
/* #endregion PLAYLIST COVERS */

/* #region */
/* #endregion */

/* Mobile First */

/* #region layout xs*/
.container{
    position: relative;
}
.app_main{
    height: calc(100vh - 40px);
}
.cl_aside{
    float: left;
    width: 30px;
    background-color: black
}
.cl_main{
    float: left;
    width: calc(100% - 30px);
    background-color: var(--main-background-color);
}

.main_aside{
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 40px);
    color:var(--light-color);
}
.aside_bottom, .aside_top{
    flex-direction: column;
    align-items: center;
}
.aside_top{
    justify-content: flex-start;
}
#logo{
    height: 20px;
}
.aside_bottom{
    justify-content: flex-end;
}
.icons>img{
    padding: 2px;
    height: 18px;
}
.upgrade_btn{
    color: var(--medium-text-color);
    border: 1px solid var(--medium-text-color);
    background-color: transparent;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 3px;
}
.header{
    background-color: #080B12;
    height: 40px;
}
.main_nav{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}
.options{
    text-transform: uppercase;
    color: var(--dark-text-color);  
    font-size: xx-small;
    padding: 3px;
}


.playlist_selection{
    overflow-y: scroll;
    height: calc(100vh - 40px);
}
section{
    padding-left: 5px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2{
    color: var(---light-text-color);
    font-size: smaller;
}
.main_playlist{
    flex-wrap: wrap;      
    gap: 7px; 
}

.container_sm{
    width: 120px;
    text-align: center;
    font-size: smaller;
    color: var(---light-text-color);
}
.box{
    height: 120px;
    width: 120px;
    background-size: contain;
}
.circle_box{
    border-radius: 100%;
}

p{
    font-size: xx-small;
    color: var(--dark-text-color);
}



.app_footer{
    width: 100%;
    height: 40px;
    background-color: #000000;
    flex-wrap: wrap;

}
.cl_30{
    color: var(--light-color);
    width: 33.3%;
    flex-wrap: wrap;
    height: 40px;  
}
.footer_left{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer_left>img{
    height: 25px;
    margin: 5px;
}
.footer_left>i{
    font-size: 10px;
    padding: 2px;
}
.footer_left>p{
    font-size: xx-small;
    line-height: 7px;
}
.footer_center, .footer_right{
    padding-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.6rem;
    row-gap: 0px;
}
.footer_center>i, .footer_right>i{
    font-size: x-small;
}
hr{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
#complete{
    width: 10px;
    border: 1px solid white;
    background-color: white;
}
#not_complete{
    width: 30px;
    border: 1px solid var(--dark-text-color);
    background-color: var(--dark-text-color); 
}
.footer_right{
    column-gap: 0.3rem;
}
/* #endregion layout xs*/


@media screen and (min-width: 400px){
    
    .container{
        position: relative;
    }
    .app_main{
        height: calc(100vh - 40px);
        transition: all 1s;
    }
    .cl_aside{
        float: left;
        width: 150px;
        background-color: black
    }
    .cl_main{
        float: left;
        width: calc(100% - 150px);
        background-color: var(--main-background-color);
    }
    
    .main_aside{
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 40px);
        color:var(--light-color);
    }
}

@media screen and (min-width: 768px){
    
    .container{
        position: relative;
    }
    .app_main{
        height: calc(100vh - 40px);
        transition: all 1s;
    }
    .cl_aside{
        float: left;
        width: 150px;
        background-color: black
    }
    .cl_main{
        float: left;
        width: calc(100% - 150px);
        background-color: var(--main-background-color);
    }
    
    .main_aside{
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 40px);
        color:var(--light-color);
    }
}
@media screen and (min-width: 1024px){
    
    .container{
        position: relative;
    }
    .app_main{
        height: calc(100vh - 40px);
        transition: all 1s;
    }
    .cl_aside{
        float: left;
        width: 200px;
        background-color: black
    }
    .cl_main{
        float: left;
        width: calc(100% - 200px);
        background-color: var(--main-background-color);
    }
    
    .main_aside{
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 40px);
        color:var(--light-color);
    }
}