/* #region COMMON*/
:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* #endregion COMMON*/

/* #region COLUMNS*/

.cl_aside{
    float: left;
    width: 50px;
    background-color: red;
}
.cl_main{
    float: left;
    width: calc(100% - 50px);
    background-color: var(--main-background-color);
}
/* #endregion COLUMNS*/

/* #region PLAYLIST COVERS */
.playlist_1{
    background-image: url(../img/metal_lifting.jpg);
}
.playlist_2{
    background-image: url(../img/stranger.jpeg);
}
.playlist_3{
    background-image: url(../img/aquietplace.jpeg);
}
.playlist_4{
    background-image: url(../img/split.jpeg);
}
.playlist_5{
    background-image: url(../img/cure.jpeg);
}
.playlist_6{
    background-image: url(../img/sinister.jpeg);
}
.playlist_7{
    background-image: url(../img/radar.jpeg);
}
.playlist_8{
    background-image: url(../img/mixdaily.jpeg);
}
.playlist_9{
    background-image: url(../img/youg.jpeg);
}
.playlist_10{
    background-image: url(../img/einaudi.jpeg);
}
/* #endregion PLAYLIST COVERS */

/* #region */
/* #endregion */

.container{
    max-width: 320px;
    margin: 0 auto;
}
.app_main{
    position: relative;
}

.main_aside{
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 10vh);
}


.main_nav{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}
.options{
    text-transform: uppercase;
    color: var(--dark-text-color);  
    font-size: xx-small;
    padding: 3px;
}


.main{
    overflow-y: scroll;
    padding-top: 10px;
    height: calc(100vh - 30px);
}
section{
    padding-left: 5px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2{
    color: var(---light-text-color);
    font-size: smaller;
}
.main_playlist{
    flex-wrap: wrap;      
    gap: 7px; 
}

.container_sm{
    width: 120px;
    text-align: center;
    font-size: smaller;
    color: var(---light-text-color);
    padding: 0.4rem;
}
.box{
    height: 120px;
    width: 120px;
    background-size: contain;
}
.circle_box{
    border-radius: 100%;
}

p{
    font-size: xx-small;
    color: var(--dark-text-color);
}




.debug_footer{
    background-color: #000000;
    height: 40px;
    align-items: baseline;
    color: #C1C2C4;
    width: 100%;
}

