/* #region COMMON*/

:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 9px;
}
/* #endregion COMMON*/

/* #region PLAYLIST COVERS */

.playlist_1{
    background-image: url(../img/metal_lifting.jpg);
}
.playlist_2{
    background-image: url(../img/stranger.jpeg);
}
.playlist_3{
    background-image: url(../img/aquietplace.jpeg);
}
.playlist_4{
    background-image: url(../img/split.jpeg);
}
.playlist_5{
    background-image: url(../img/cure.jpeg);
}
.playlist_6{
    background-image: url(../img/sinister.jpeg);
}
.playlist_7{
    background-image: url(../img/radar.jpeg);
}
.playlist_8{
    background-image: url(../img/mixdaily.jpeg);
}
.playlist_9{
    background-image: url(../img/youg.jpeg);
}
.playlist_10{
    background-image: url(../img/einaudi.jpeg);
}
/* #endregion PLAYLIST COVERS */


.container{
    position: relative;
    height: 100vh;
}
.container_main{
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: blue;
}


/* #region ASIDE*/
.cl_aside{
    width: 30px;
    flex-direction: column;
    background-color: #000000;
}
.aside_top, .aside_bottom{
    height: 50%;
    flex-direction: column;
    width: 30px;
    align-items: center;
    gap: 2px;
}
.aside_bottom{
    justify-content: flex-end;
}
.logo{
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}
.icons{
    height: 18px;
    width: 18px;
}


/* #endregion ASIDE*/

/* #region MAIN*/

.cl_main{
    width: calc(100vw - 30px);
    height: 100%;
    overflow-y: auto;
}

.header{
    background-color: #080B12;
    height: 40px;
    width: 100%;
}
.upgrade_btn{
    color: var(--medium-text-color);
    border: 1px solid var(--medium-text-color);
    background-color: transparent;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 3px;
}
.container_sm{
    width: 120px;
    text-align: center;
    font-size: smaller;
    color: var(---light-text-color);
}
.main_playlist{
    gap: 1rem;
}
.box{
    height: 120px;
    width: 120px;
    background-size: contain;
}
.circle_box{
    border-radius: 100%;
}

/* #endregion MAIN*/

/* #region FOOTER*/

footer{
    height: 50px;
    width: 100%;
    background-color: #000000;
}
.cl_33{
    color: var(--light-color);
    height: 50px;
    width: 33.3%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_left{
    flex-direction: column;    
    align-items: flex-start;
}
.footer_left>img{
    height: 40px;
    padding: 5px;
}
.footer_center{
    column-gap: 10px;
}
.footer_right{
    column-gap: 0.3rem;
}
hr{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
#complete{
    width: 10px;
    border: 1px solid white;
    background-color: white;
}
#not_complete{
    width: 30px;
    border: 1px solid var(--dark-text-color);
    background-color: var(--dark-text-color); 
}

/* #endregion FOOTER*/

