/* #region COMMON*/
:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}

/* #endregion COMMON*/

/* #region COLUMNS*/

.cl_10{
    float: left;
    width: 10%;
    background-color: red;
}
.cl_90{
    float: left;
    width: 90%;
    background-color: blue;
}
/* #endregion COLUMNS*/


/* #region */
/* #endregion */

.main{
    overflow-y: scroll;
}
.main_nav{
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    height: calc(100vh - 10vh)
}
.debug_bx{
    height: 50px;
    width: 50px;
    background-color: green;
}
.debug_footer{
    background-color: #000000;
    height: 10vh;
    align-items: baseline;
    color: #C1C2C4;
    width: 100%;
}
