/* #region COMMON*/

:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 9px;
    color: var(---light-text-color);
    padding-bottom: 5px;
}
/* #endregion COMMON*/

/* #region PLAYLIST COVERS */

.playlist_1{
    background-image: url(../img/metal_lifting.jpg);
}
.playlist_2{
    background-image: url(../img/stranger.jpeg);
}
.playlist_3{
    background-image: url(../img/aquietplace.jpeg);
}
.playlist_4{
    background-image: url(../img/split.jpeg);
}
.playlist_5{
    background-image: url(../img/cure.jpeg);
}
.playlist_6{
    background-image: url(../img/sinister.jpeg);
}
.playlist_7{
    background-image: url(../img/radar.jpeg);
}
.playlist_8{
    background-image: url(../img/mixdaily.jpeg);
}
.playlist_9{
    background-image: url(../img/youg.jpeg);
}
.playlist_10{
    background-image: url(../img/einaudi.jpeg);
}
/* #endregion PLAYLIST COVERS */


.container{
    position: relative;
    height: 100vh;
}
.container_main{
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: var(--main-background-color);
}


/* #region ASIDE*/
.cl_aside{
    width: 30px;
    flex-direction: column;
    background-color: #000000;
    transition: all 1s;
}
.aside_top, .aside_bottom{
    height: 50%;
    flex-direction: column;
    width: 30px;
    align-items: center;
    gap: 2px;
}
.aside_bottom{
    justify-content: flex-end;
}
.logo{
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin: 5px;
    transition: all 0.5s;
}
.icons{
    height: 18px;
    width: 18px;
    align-items: baseline;
    column-gap: 2px;
}
.icons>img{
    color: #D2D2D2;
}
.aside_text{
    visibility: hidden;
}
#user{
    background-color: var(--dark-text-color);
    border-radius: 100%;

}

/* #endregion ASIDE*/

/* #region MAIN*/

.cl_main{
    width: calc(100vw - 30px);
    height: 100%;
    overflow-y: auto;
}

.header{
    background-color: #080B12;
    height: 40px;
    width: 100%;
}
.upgrade_btn{
    color: var(--medium-text-color);
    border: 1px solid var(--medium-text-color);
    background-color: transparent;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 3px;
}

.main_nav{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.options{
    text-transform: uppercase;
    color: var(--dark-text-color);  
    font-size: xx-small;
    padding: 3px;
}

.container_sm{
    width: calc(100% /2);
    text-align: center;
    font-size: smaller;
    color: var(---light-text-color);
    flex-direction: column;
    align-items: center;
}
.main_playlist{
    flex-wrap: wrap;
    justify-content: flex-start;
}
section{
    padding-left: 5px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2{
    color: var(---light-text-color);
    font-size: smaller;
    padding-bottom: 0.1rem;
}
.box{
    height: 30vw;
    width: 30vw;
    background-size: contain;
    transition: all 0.5s;
}
.circle_box{
    border-radius: 100%;
}
h5{
    padding-top: 5px;
}
/* #endregion MAIN*/

/* #region FOOTER*/

footer{
    height: 50px;
    width: 100%;
    background-color:#282828;
}
.cl_33{
    color: var(--light-color);
    height: 50px;
    width: 33.33%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_left{
    flex-direction: column;    
    align-items: flex-start;
}
.footer_left>img{
    height: 40px;
    padding: 5px;
}
.footer_center{
    flex-direction: column;
    column-gap: 1rem;
}
.f_center_bottom{
    align-items: self-end;
    column-gap: 0.8rem;
}
.footer_right{
    column-gap: 0.3rem;
}
hr{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
#complete{
    width: 3vw;
    border: 1px solid white;
    background-color: white;
}
#not_complete{
    width: 6vw;
    border: 1px solid var(--dark-text-color);
    background-color: var(--dark-text-color); 
}
#point{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 3px;
    background-color: white;
}
.prog_line:hover #point{
    background-color: #74A92A;
}
/* #endregion FOOTER*/

@media screen and (min-width: 400px){
    
    
    .cl_aside{
        width: 120px; 
    }
    .cl_main{
        width: calc(100% - 120px);
    }
    .logo{
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 30px;
        align-self: baseline;
    }
    .box{
        height: 30vw;
        width: 30vw;
    }
    .aside_text{
        color: var(---light-text-color);
        font-size: 0.8rem;
        visibility: visible;
    }
    .icons>img, .icons>.aside_text{
        display: inline-block;
    }
}

@media screen and (min-width: 768px){
    .container_sm{
        width: calc(100% / 4);
    }
    .box{
        height: 18vw;
        width: 18vw;
    }
    
    
}
@media screen and (min-width: 1024px){

    .box{
        height: 16vw;
        width: 16vw;
    }
}
@media screen and (min-width: 1200px){
    .container_sm{
        width: calc(100% / 6);
    }
    .box{
        height: 12vw;
        width: 12vw;
    }
    .container_main{
        height: calc(100vh - 80px);
       
    }
    footer{
        height: 80px;
    }
    .cl_33{
        color: var(--light-color);
        height: 80px;
    }
}