/* #region COMMON*/

:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 9px;
    color: var(---light-text-color);
    padding-bottom: 5px;
}
/* #endregion COMMON*/


.container{
    position: relative;
    height: 100vh;
}
.container_main{
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: var(--main-background-color);
}


/* #region ASIDE*/
.cl_aside{
    width: 30px;
    flex-direction: column;
    background-color: #000000;
    transition: all 1s;
}
.aside_top, .aside_bottom{
    height: 50%;
    flex-direction: column;
    width: 30px;
    align-items: center;
    gap: 2px;
}
.aside_bottom{
    justify-content: flex-end;
    row-gap: 5px;
}
.logo{
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin: 5px;
    transition: all 0.5s;
}
.icons{
    height: 18px;
    width: 18px;
    align-items: baseline;
    column-gap: 2px;
}
.icons>img{
    color: #D2D2D2;
}
.aside_text{
    visibility: hidden;
}
#user{
    background-color: var(--dark-text-color);
    border-radius: 100%;

}

/* #endregion ASIDE*/

/* #region MAIN*/

.cl_main{
    width: calc(100vw - 30px);
    height: 100%;
    overflow-y: auto;
}

.header{
    background-color: #080B12;
    height: 40px;
    width: 100%;
}
.upgrade_btn{
    color: var(--medium-text-color);
    border: 1px solid var(--medium-text-color);
    background-color: transparent;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 3px;
}

.main_nav{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.options{
    text-transform: uppercase;
    color: var(--dark-text-color);  
    font-size: xx-small;
    padding: 0.5rem;
}
.options:hover{
    border-bottom: 1px solid #74A92A;
}
.container_sm{
    width: calc(100% /2);
    font-size: smaller;
    color: var(---light-text-color);
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 0.5rem;
    text-align: center;
}
.main_playlist{
    flex-wrap: wrap;
    justify-content: flex-start;
}
section{
    padding-left: 5px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2{
    color: var(---light-text-color);
    font-size: 20px;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
}
section>p{
    padding-left: 0.5rem;
}
.recenty_played>h2{
    padding-bottom: 10px;
}
.box>img{
    max-width: 100%;
    transition: all 0.5s;
}
.box{
    position: relative;
}
.box>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 25px;
    visibility: hidden;
}
.container_sm:hover .box>img{
    filter: opacity(0.7);
}
.container_sm:hover .box>i{
    visibility: visible;
}
.circle_box>img{
    border-radius: 100%;
}
h5{
    padding-top: 5px;
}
/* #endregion MAIN*/

/* #region FOOTER*/

footer{
    height: 50px;
    width: 100%;
    background-color:#282828;
}
.cl_33{
    color: var(--light-color);
    height: 50px;
    width: 33.33%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_left{
    flex-direction: column;    
    align-items: flex-start;
    column-gap: 0.5rem;
}
.footer_left>img{
    height: 40px;
    padding: 5px;
}
.footer_left>p{
    line-height: 6px;
}
.footer_left>h6{
    padding-bottom: 4px;
}
.footer_left>i{
    color: #74767B;
    font-size: small;
}
.footer_center{
    flex-direction: column;
    column-gap: 1rem;
}
.f_center_bottom{
    align-items: self-end;
    column-gap: 0.8rem;
}
.footer_right{
    column-gap: 0.5rem;
    justify-content: flex-end;
    padding-right: 0.5rem;
}
hr{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
#complete{
    width: 3vw;
    border: 1px solid white;
    background-color: white;
}
#not_complete{
    width: 6vw;
    border: 1px solid var(--dark-text-color);
    background-color: var(--dark-text-color); 
}
#point{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 3px;
    background-color: white;
}
.prog_line:hover #point{
    background-color: #74A92A;
}
.footer_right>i{
    font-size: small;
}
.f_center_top>i{
    font-size: medium;
    transition: all 0.4s;
}
.f_center_top{
    column-gap: 0.4rem;
    align-items: center;
}
.fa-play-circle:before{
    background-color: white;
    color:#282828 ;
    border-radius: 100%;
    padding: 2px;
}
/* #endregion FOOTER*/

@media screen and (min-width: 400px){
    
    
    .cl_aside{
        width: 120px; 
    }
    .cl_main{
        width: calc(100% - 120px);
    }
    .logo{
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 30px;
        align-self: baseline;
    }
    
    .aside_text{
        color: var(---light-text-color);
        font-size: 0.8rem;
        visibility: visible;
    }
    .icons>img, .icons>.aside_text{
        display: inline-block;
    }
    .f_center_bottom>.prog_line>#complete{
        width: 4vw;
    }
    .f_center_bottom>.prog_line>#not_complete{
        width: 8vw; 
    }
    .f_center_top{
        column-gap: 0.5rem;
    }
}

@media screen and (min-width: 768px){
    .container_sm{
        width: calc(100% / 4);
    }
    
    .f_center_bottom>.prog_line>#complete{
        width: 5vw;
    }
    .f_center_bottom>.prog_line>#not_complete{
        width: 10vw; 
    }
    .f_center_top{
        column-gap: 0.6rem;
    }
}


@media screen and (min-width: 1024px){

    
    .f_center_bottom>.prog_line>#complete{
        width: 6vw;
    }
    .f_center_bottom>.prog_line>#not_complete{
        width: 12vw; 
    }
    .f_center_top{
        column-gap: 0.7rem;
    }
}


@media screen and (min-width: 1200px){
    .container_sm{
        width: calc(100% / 6);
    }
    
    .container_main{
        height: calc(100vh - 80px);
       
    }
    footer{
        height: 80px;
    }
    .cl_33{
        color: var(--light-color);
        height: 80px;
    }
    .f_center_bottom>.prog_line>#complete{
        width: 7vw;
    }
    .f_center_bottom>.prog_line>#not_complete{
        width: 14vw; 
    }
    .f_center_top>i{
        font-size: x-large;
        padding-bottom: 2px;
    }
    .f_center_top{
        column-gap: 0.8rem;
    }
    .fa-play-circle:before{
        font-size: xx-large;
    }
}