/* #region COMMON*/
:root{
    --sidebar-background-color: #000000;
    --upgrade-background-color: #080B12;
    --main-background-color: #141922;
    --dark-text-color: #74767B; /*in evidenza*/
    --medium-text-color: #C1C2C4; /*upgrade*/
    ---light-text-color: #D2D2D2; /*Home btn*/
    --light-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* #endregion COMMON*/

/* #region COLUMNS*/

.cl_aside{
    float: left;
    width: 50px;
    background-color: red;
}
.cl_main{
    float: left;
    width: calc(100% - 50px);
    background-color: var(--main-background-color);
}
/* #endregion COLUMNS*/


/* #region */
/* #endregion */

.container{
    max-width: 321px;
    margin: 0 auto;
}
.main_aside{
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 10vh);
}
.main_nav{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}
.options{
    text-transform: uppercase;
    color: var(--dark-text-color);  
    font-size: xx-small;
    padding: 3px;
}
.main{
    overflow-y: scroll;
    padding-top: 10px;
}
section{
    padding-left: 5px;
}
.main_playlist{
    flex-wrap: wrap;  
    height: calc(100vh - 10vh);
    gap: 7px;
    
    
}
.container_sm{
    width: 120px;
    background-color: rgba(255, 251, 0, 0.479);
    text-align: center;
    font-size: smaller;
    color: var(---light-text-color);
}
.debug_bx{
    height: 120px;
    width: 120px;
    background-color: green;
}
.debug_footer{
    background-color: #000000;
    height: 10vh;
    align-items: baseline;
    color: #C1C2C4;
    width: 100%;
}
h2{
    color: var(---light-text-color);
    font-size: smaller;
}
